<div class="nav1">
    <nav>
        <div class="navbar-header">
            <h1>STELOR</h1>
            <h3>A luxurious stay</h3>
        </div>
        
        <ul>
            <li><a href="/"><h3>Home</h3></a></li>
            <li><a href="/bookings"><h3>Bookings</h3></a></li>
            <li><a href="/contact"><h3>Contact Us</h3></a></li>
        </ul>
    </nav> 
</div>

