<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hotel Booking</title>

    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include ('partials/navbar.ejs') %> 

    <h1>Thank you for your feedback!</h1>
</body>
</html>
